// contenedor()
// 	display flex
// 	width 90%
// 	margin 0 auto
// 	padding 30px 0 20px
.encabezado--con-filtros
	contenedor()
	h2
		font-size 40px
		titulos(fuente2)
	.filtros
			display flex
			justify-content space-between
			width 220px
			height 75px
			padding 22px
			border-radius 5px
			margin-left auto
			caja-sombra()
			span
				titulos(fuente2)
				color opacidad(color-primario, .9)
			a
				align-self flex-end
				font-size 26px
				color opacidad(color-primario, .9)
				text-decoration none
			a:nth-child(2)
				margin-left 10px