h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 25px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

.perfil {
  width: 50%;
  padding-top: 50px;
  color: rgba(136, 65, 218, 0.9);
  background-color: #f6f6f6;
}
.perfil__avatar {
  display: block;
  margin: 0 auto;
  border-radius: 2em;
}
.perfil__nombre, .perfil__minibio h2 {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__titulo, .perfil__minibio h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: rgba(63, 87, 154, 0.6);
}
.perfil__boton {
  display: block;
  width: 100px;
  height: 36px;
  margin: 28px auto;
  padding-top: 6px;
  border: 0;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: #f6f6f6;
  background-color: #333333;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
}
.estadistica--perfil {
  display: flex;
  width: 60%;
  height: 90px;
  padding-top: 15px;
  margin: 0 auto;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.3);
  color: #333333;
  background-color: #f6f6f6;
}
.estadistica--perfil h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.estadistica--perfil span {
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.5);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.ubicacion--perfil {
  width: 60%;
  height: 90px;
  margin: 30px auto 50px;
  padding: 20px 0 0 50px;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.3);
  color: #333333;
  background-color: #f6f6f6;
}
.ubicacion--perfil i {
  display: block;
  float: left;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 35px;
  color: #3f579a;
}
.ubicacion--perfil h2 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.ubicacion--perfil h3 {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.galeria {
  width: 60%;
  height: auto;
  margin: 10px auto 60px;
  padding: 20px 0 30px 35px;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.3);
  color: #333333;
  background-color: #f6f6f6;
}
.galeria__foto-principal {
  float: left;
  margin-right: 15px;
}
.galeria__fotos-adicionales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 70px;
  gap: 15px;
  width: 160px;
}
.galeria__foto-principal img {
  height: 155px;
}
.galeria__fotos-adicionales img {
  height: 70px;
}
.galeria__fotos-adicionales img:nth-child(1) {
  grid-area: 1/1/1/3;
}
.galeria__fotos-adicionales img:nth-child(2) {
  grid-area: 2/1;
  width: 100%;
}
.galeria__fotos-adicionales img:nth-child(3) {
  grid-area: 2/2;
  width: 100%;
}
.galeria h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.galeria img {
  border-radius: 10px;
}

.articulos {
  width: 50%;
  padding: 50px 0 0 120px;
  color: #f6f6f6;
  background-color: #333333;
}

.articulo {
  margin-bottom: 80px;
  border-bottom: 3px solid #8841da;
}
.articulo__categoria {
  font-weight: 500;
  font-size: 16px;
  color: #8841da;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__titulo {
  margin-bottom: 10px;
  padding-right: 100px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__descripcion {
  margin-bottom: 20px;
  padding-right: 80px;
  font-size: 18px;
  line-height: 25px;
}

/*# sourceMappingURL=ejercicio-sass.css.map */
