.estadistica--articulos
  height 70px
  padding: 20px
  border-top: 1.5px solid opacidad(color-primario, .2)

  ul
    display: flex
    margin: 0
    justify-content: space-evenly
    li
      list-style: none
      color: opacidad(color-primario, .4)
    span
      margin-left: 10px