.perfil {
  width: 50%;
  padding-top: 50px;
  color: get-opacity($color-secundario, 0.9);
  background-color: $color-claro;
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 2em;
  }
  &__nombre {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    @include titulos($Fuente2);
  }
  &__titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    @include titulos($Fuente2);
    color: get-opacity($color-variacion, .6);
  }
  &__boton {
    display: block;
    width: 100px;
    height: 36px;
    margin: 28px auto;
    padding-top: 6px;
    border: 0;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: $color-claro;
    background-color: $color-primario;
    @include titulos($Fuente2);
  }
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
  h2 {
    @extend .perfil__nombre;
  }
  h3 {
    @extend .perfil__titulo;
  }
}
